[submodule "PyDG"]
	path = PyDG
	url = https://github.com/AleksMa/PyDG.git
[submodule "PyMCIS"]
	path = PyMCIS
	url = https://github.com/AleksMa/Python_Maximum_Common_Induced_Subgraph
[submodule "PyMCS"]
	path = PyMCS
	url = https://github.com/AleksMa/PyMCS
